@font-face {
  font-family: 'Digital-7 Mono';
  src: url('digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: #1b244a;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  text-align: center;
  margin-bottom: 20px;
}

.score-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  margin-bottom: 40px;
  .leader {
    min-height: 80px;
    font-size: 50px;
    margin: 0;
  }
  .score-box {
    text-align: center;
    h3 {
      font-family: sans-serif;
      margin-bottom: 12px;
      font-size: 36px;
      text-transform: uppercase;
      color: white;
      margin-top: 0;
    }
    .digit {
      background: #080001;
      font-family: 'Digital-7 Mono', Arial, Helvetica, sans-serif;
      color: #f94f6d;
      font-size: 200px;
      margin: 0;
      text-align: center;
      border-radius: 3px;
      margin-bottom: 30px;
      min-width: 1em;
    }
  }
  .points-btn-group {
    display: flex;
    gap: 12px;
    button {
      background-color: transparent;
      color: rgb(170, 170, 170);
      border: 1px solid rgb(170, 170, 170);
      border-radius: 3px;
      font-size: 28px;
      padding: 4px 12px;
      cursor: pointer;
      transition:
        background 0.1s,
        transform 0.1s;
      &:active {
        background-color: rgba(170, 170, 170, 0.15);
        transform: scale(0.96);
      }
    }
  }
}

footer {
  text-align: center;
  margin-top: 20px;
  #btn-new-game {
    background-color: #14df69;
    border: none;
    padding: 12px 24px;
    font-size: 24px;
    border-radius: 3px;
    cursor: pointer;
    transition:
      background 0.1s,
      transform 0.1s;
    &:active {
      background-color: #0ccb5b;
      transform: scale(0.97);
    }
  }
}
