
body {
    margin: 0;
}

.container {
  background: #1b244a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
.score {
  text-align: center;
  h3 {
    font-family: sans-serif;
    margin-bottom: 12px;
  }
}
.digit {
    background: #080001;
    font-family: "Digital-7 Mono", sans-serif;
    color: #F94F6D;
    font-size: 100px;
    margin: 0;
    text-align: center;
    padding: 0 24px;
    border-radius: 3px;
    margin-bottom: 12px;
}

h3 {
    color: white;
}
.points {
  button {
    background-color: transparent;
    color: rgb(170, 170, 170);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 3px;
    font-size: 20px;
    padding: 4px 12px;
  }
}